<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>

  <nav>

    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="definition.html">Definition</a></li>
      <li><a href="explantion.html">Explantion</a></li>
      <li><a href="presentanion.html">Presentanion</a></li>
      <li><a href="content.html">Content</a>
        <ul>
          <li><a href="#">Eassy</a></li>
          <li><a href="#">Story</a></li>
          <li><a href="#">Aritcal</a></li>
        </ul>
      </li>
      <li><a href="cpp_programming.html">Programming</a>
        <ul>
          <li><a href="#">C++</a></li>
          <li><a href="#">java</a></li>
        </ul>
      </li>
    </ul>
  </nav>

</body>

</html>